.Select {
  margin-bottom: 15px;
}
.Select label {
  margin: 0 0 10px 0;
  padding-left: 10px;
  font-weight: regular;
  display: block;
  color: #999;
}

.Select select {
  display: block;
  box-sizing: border-box;
  border: 2px solid #635a86;
  margin: 0 0 20px;
  height: 40px;
  color: #fff;
  width: 100%;
  background-color: #1c1b20;
  outline: none;
  transition: all 0.3s ease-in-out;
}
