* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Quiz {
  padding: 40px 100px 40px 140px;
  flex-grow: 1;
  width: 100%;
  background: #1c1b20;
}
.Quiz h1 {
  color: #fff;
  margin-bottom: 20px;
}
.QuizWrapper {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
