.FinishedQuiz {
  padding: 60px 0px;
  color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  min-width: 600px;
  width: 100%;
}
.FinishedQuiz ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.FinishedQuiz ul li {
  margin-bottom: 20px;
}
.FinishedQuiz__error {
  color: red;
}
.FinishedQuiz__success {
  color: greenyellow;
}
.FinishedQuiz p {
  margin-bottom: 40px;
}
