.AnswerItem {
  border: 1px solid #635a86;

  padding: 15px 20px;
  margin-bottom: 5px;
  cursor: pointer;
  list-style: none;
  transition: all 0.3s ease;
}
.AnswerItem:hover {
  background: rgba(99, 90, 134, 0.8);
  transition: all 0.3s ease;
}
.AnswerItem.succes {
  background-color: rgba(161, 240, 69, 0.7);
}
.AnswerItem.error {
  background-color: rgba(240, 87, 108, 0.7);
}
