.Input {
  margin-bottom: 45px;
  max-width: 600px;
}
.Input label {
  margin-bottom: 3px;
  padding: 0;
  display: block;
  font-weight: bold;
}
.Input input {
  display: block;
  box-sizing: border-box;
  border: none;
  background-color: #1c1b20;
  height: 40px;
  padding: 7px;
  margin: 0 0 5px;
  width: 100%;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.Input span {
  color: #f01f30;
  font-size: 12px;
  font-weight: bold;
}
.Input.invalid label {
  color: #f01f30;
}
