.Input {
  margin-bottom: 45px;
  width: 600px;
}
.Input label {
  margin-bottom: 3px;
  padding: 0;
  display: block;
  font-weight: bold;
}
.Input input {
  display: block;
  box-sizing: border-box;
  border: none;
  background-color: #1c1b20;
  height: 40px;
  padding: 7px;
  margin: 0 0 5px;
  width: 100%;
  outline: none;
  transition: all 0.3s ease-in-out;
  position: relative;
  color: #999999;
  font-size: 16px;
  border-bottom: 2px solid #635a86;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.Input span {
  color: #ec6e6e;
  font-size: 16px;
  font-weight: light;
}
.Input.invalid label {
  color: #ec6e6e;
}
