.Auth {
  padding: 40px 100px 40px 140px;
  flex-grow: 1;
  width: 100%;
  background: #1c1b20;
}
.Auth > div {
  width: 100%;

  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Auth h1 {
  color: #fff;

  margin-bottom: 20px;
}
.AuthForm {
}
