@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap&subset=cyrillic");
html {
  font-family: "Roboto", sans-serif;
}
.App {
  text-align: center;
}
h1 {
  font-style: normal;
  font-weight: 500;
}
